<div class="well text-center">
  <h3><strong>{{project.title}}</strong> <small>(id : {{project.id}})</small></h3>
  <p ng-if="project.year">Year {{project.year}}</p>
  <p ng-if="project.description">Description: {{project.description}}</p>

  <a class="btn btn-primary" ng-href="#/projects/{{project.id}}/edit">Update</a>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete</button>
</div>

<h3>Users :</h3>

<div ng-repeat="user in users" ng-init="checked = false">

  <div class="panel panel-default">
    <div class="panel-heading hover-hand" ng-click="checked = !checked">{{user.surname}} {{user.name}}</div>
    <div class="panel-body animate-show" ng-show="checked">
      <p>Id : {{user.id}}</p>
      <p>Name : {{user.name}}</p>
      <p>Surname : {{user.surname}}</p>
      <p ng-if="user.email">E-mail : {{user.email}}</p>
      <p ng-if="user.website">Website : {{user.website}}</p>
      <p ng-repeat=" role in roles" ng-if="(role.ProjectId == project.id) && (role.UserId == user.id)" >Role : {{role.name}} </p>
    </div>
  </div>
</div>

<div ng-if="success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div class="alert alert-success">
    Delete <strong>successful !</strong>
  </div>
</div>

<!-- Popup to warn when deleting the project -->
<div id="modalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong class="text-danger">Delete</strong> project <strong>{{project.title}}</strong> ?</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to <span class="text-danger">delete</span> the project <strong>{{project.title}} - year {{project.year}}</strong> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteProject()">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
