<div>
  <p>Id : {{currentUser.id}}</p>
  <p>Name: {{currentUser.name}}</p>
  <p>Surname: {{currentUser.surname}}</p>
  <p>E-mail: {{currentUser.email}}</p>
  <p>Website: {{currentUser.website}}</p>
</div>

<h3>PROJETS</h3>

<div ng-repeat="project in projects">
  <p>Id : {{project.id}} </p>
  <p>Titre : {{project.title}}</p>
  <p>Description : {{project.description}}</p>
  <p>Année : {{project.year}}</p>
  <p ng-repeat=" role in roles" ng-if="role.ProjectId == project.id">Role : {{role.name}}</p>
</div>

<a ng-click="deleteUser()">Supprimer</a>
<a ng-href="#/users/{{currentUser.id}}/edit">Mettre à jour</a>

<div ng-if="success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div class="alert alert-success">
    Suppression <strong>réussie !</strong>
  </div>
</div>
