<div class="container">
  <div class="well">

    <h2 class="text-center">Recherche par projet</h2>

    <div class="form-group">
      <label for="projectId">Id :</label>
      <input type="text" class="form-control" id="projectId" ng-model="searchProject.id">
    </div>

    <div class="form-group">
      <label for="projectTitle">Title : </label>
      <input type="text" class="form-control" id="projectTitle" ng-model="searchProject.title">
    </div>

    <div class="form-group">
      <label for="projectYear">Year : </label>
      <input type="text" class="form-control" id="projectYear" ng-model="searchProject.year">
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in projects | filter:searchProject" ng-click="go('/projects/'+project.id)" >
      <td>{{project.id}}</td>
      <td>{{project.title}}</td>
      <td>{{project.year}}</td>
    </tr>
  </tbody>

</table>
