<div class="container">
  <div class="well">

    <h2 class="text-center">Recherche par utilisateur</h2>

    <div class="form-group">
      <label for="userId">Id :</label>
      <input type="text" class="form-control" id="userId" ng-model="searchUsers.id">
    </div>

    <div class="form-group">
      <label for="userName">Name : </label>
      <input type="text" class="form-control" id="userName" ng-model="searchUsers.name">
    </div>

    <div class="form-group">
      <label for="userSurname">Surname : </label>
      <input type="text" class="form-control" id="userSurname" ng-model="searchUsers.surname">
    </div>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>E-mail</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="currentUser in searchUser | filter:searchUsers" ng-click="go('/users/'+currentUser.id)" >
      <td>{{currentUser.id}}</td>
      <td>{{currentUser.name}}</td>
      <td>{{currentUser.surname}}</td>
      <td>{{currentUser.email}}</td>
      <td>{{currentUser.website}}</td>
    </tr>
  </tbody>

</table>
